{% extends "layouts.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="{{ url_for('submit') }}">
            {{ form.hidden_tag() }}

            <!--
                This is the form where all the info goes
                dlnv.py gets elements from here
            -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Verify your Driver's License Number</legend>
                <!--Name info-->
                <div class=form-group" name="fName">
                    {{ form.fName.label(class="form-control-label") }}
                    {{ form.fName(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="mName">
                    {{ form.mName.label(class="form-control-label") }}
                    {{ form.mName(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="lName">
                    {{ form.lName.label(class="form-control-label") }}
                    {{ form.lName(class="form-control form-control lg") }}
                </div>
                <!--Personal info-->
                <div class=form-group" name="month">
                    {{ form.month.label(class="form-control-label") }}
                    {{ form.month(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="day">
                    {{ form.day.label(class="form-control-label") }}
                    {{ form.day(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="year">
                    {{ form.year.label(class="form-control-label") }}
                    {{ form.year(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="sex">
                    {{ form.sex.label(class="form-control-label") }}
                    {{ form.sex(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="eyeColor">
                    {{ form.eyeColor.label(class="form-control-label") }}
                    {{ form.eyeColor(class="form-control form-control lg") }}
                </div>
                <!--DL info-->
                <div class=form-group" name="dlNumber">
                    {{ form.dlNumber.label(class="form-control-label") }}
                    {{ form.dlNumber(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="issueDay">
                    {{ form.issueDay.label(class="form-control-label") }}
                    {{ form.issueDay(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="issueMonth">
                    {{ form.issueMonth.label(class="form-control-label") }}
                    {{ form.issueMonth(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="issueYear">
                    {{ form.issueYear.label(class="form-control-label") }}
                    {{ form.issueYear(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="dlDay">
                    {{ form.dlDay.label(class="form-control-label") }}
                    {{ form.dlDay(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="dlMonth">
                    {{ form.dlMonth.label(class="form-control-label") }}
                    {{ form.dlMonth(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="dlYear">
                    {{ form.dlYear.label(class="form-control-label") }}
                    {{ form.dlYear(class="form-control form-control lg") }}
                </div>
                <div class=form-group" name="state">
                    {{ form.state.label(class="form-control-label") }}
                    {{ form.state(class="form-control form-control lg") }}
                </div>
            </fieldset>
            <!--Submit button-->
            <div class="form-group" action=>
                {{ form.submit(class='btn btn-outline-info')}}
            </div>
        </form>
    </div>

{% endblock %}